<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AQUA Apps | HUDdle API</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AQUA Apps">
        <meta name="author" content="AQUA Apps">
        <meta name="robots" content="noindex">
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic' rel='stylesheet' type='text/css'>

        <!-- Themes -->
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/huddle-api.css">

        <!-- Angular Material -->
        <link rel="stylesheet" href="src/libs/angular-material.min.css">

        <!-- MailChimp -->
        <link rel="stylesheet" href="src/libs/mailchimp-horizontal-slim-10_7.css">

        <!-- Code Highlighting -->
        <link rel="stylesheet" href="src/libs/prism.css">
    </head>

    <body ng-app="AQUA Apps" ng-cloak>
        <!-- ******************** Navigation ******************** -->
        <md-toolbar id="toolbar" class="nodrag toolbar" layout="row" style="position: fixed;">
            <div class="md-toolbar-tools">
                <a class="nodrag" href="http://aquaapps.co"><md-icon class="toolbar-logo" md-svg-icon="images/vector/ic-aquaapps.svg"></md-icon></a>
                <h2><a class="toolbar-name nodrag" href="http://aquaapps.co">AQUA Apps</a></h2>
            </div>
        </md-toolbar>

        <div class="nodrag api-intro-section" layout="column" layout-align="center center">
            <h1 class="api-text-center">HUDdle API</h1>
            <h3 class="api-text-center">Are you a developer of a navigation app?</h3>
            <h3 class="api-text-center">Use the HUDdle API to allow your users to access a head-up display</h3>
            <p class="api-text-center">Email <a href="mailto:support@aquaapps.co">support@aquaapps.co</a> to add your app to our "Suported Apps" list</p>
            <h2 class="api-text-center">Download - Gradle</h2>
            <a class="nodrag" style="margin-top:8px;" href='https://bintray.com/aqua-apps/HUDdle-API/co.aquaapps.huddle.api/_latestVersion' target="_blank"><img src='https://api.bintray.com/packages/aqua-apps/HUDdle-API/co.aquaapps.huddle.api/images/download.svg'></a>
        </div>

        <div class="api-documentation-section">
            <pre><code class="language-java">
                repositories {
                    jcenter()
                }

                dependencies {
                    compile 'co.aquaapps.huddle.api:api:0.2.0'
                }
            </code></pre>
            <h2 class="nodrag api-text-center">Example</h2>
            <pre><code class="language-java">
                // Update Estimated Time of Arrival
                HuddleApi.updateEta(context, "8:52", HuddleApi.TIME_PM);

                // Update next direction. Distance is in meters
                HuddleApi.updateNextDirection(context, 80, HuddleApi.DIRECTION_ROUNDABOUT_6_FLIPPED);

                // Update remaining distance (in meters) and time (in seconds)
                HuddleApi.updateRemaining(context, 1200, 240);

                // Or all together:
                HuddleApi.updateDirection(context,
                    "8:52", HuddleApi.TIME_PM,
                    80, HuddleApi.DIRECTION_ROUNDABOUT_6_FLIPPED,
                    1200, 240
                );

                // Custom group of information (see below for available fields):
                Intent intent = new Intent(HuddleApi.HUDDLE_API_INTENT);
                intent.putExtra(HuddleApi.KEY_ICON, HuddleApi.DIRECTION_TURN_LEFT);
                intent.putExtra(HuddleApi.KEY_REMAINING_DISTANCE, 1200L);
                intent.putExtra(HuddleApi.KEY_REMAINING_TIME, 60L);
                intent.putExtra(HuddleApi.KEY_SPEED_LIMIT, 50L);
                context.sendBroadcast(intent);
            </code></pre>
            <h2 class="nodrag api-text-center">Available Fields</h2>
            <pre><code class="language-java">
                KEY_ICON                // Integer  Next direction icon (e.g. HuddleApi.DIRECTION_UNKNOWN)
                KEY_DISTANCE            // Long     Distance to next direction in METERS (e.g. 100)
                KEY_REMAINING_DISTANCE  // Long     Total remaining distance in METERS (e.g. 1200)
                KEY_REMAINING_TIME      // Long     Total remaining time in SECONDS (e.g. 600)
                KEY_SPEED_LIMIT         // Long     Current speed limit in KPH (e.g. 100)
                KEY_ETA_TIME            // String   Estimated time of arrival (e.g. "8:52")
                KEY_ETA_AMPM            // String   Estimated time of arrival AM/PM (e.g. HuddleApi.TIME_AM)
                KEY_CURRENT_STREET      // String   Name of the current street
                KEY_NEXT_STREET         // String   Name of the next street
            </code></pre>
        </div>

        <div class="nodrag api-sample-hud" layout="column" layout-align="center center">
            <md-button class="md-raised dev-btn nodrag" href="res/ApiIcons.zip" target="_blank" download="HuddleApi.zip">Download Icons (45 KB)</md-button>
            <img class="nodrag" src="images/huddle-api/sample.jpg" />
        </div>

        <!-- ******************** Footer ******************** -->
        <footer class="nodrag footer" ng-controller="SiteCtrl">
            <div style="text-align: center;">
                <div class="copyright" layout="row" layout-align="center center">Copyright &copy; 2012-2016, AQUA Apps. All rights reserved.</div>
                <div class="copyright legal-trademarks" layout="row" layout-align="center center">Android, Google Play, and the Google Play logo are trademarks of Google Inc.</div>
                <small class="copyright" layout="row" layout-align="center center">
                    <md-button id="btnPrivacy" ng-click="showLegal(true)">Privacy Policy</md-button>
                    <md-button id="btnTerms" ng-click="showLegal(false)">Terms of Service</md-button>
                </small>
            </div>
        </footer>

        <!-- Angular Material -->
        <script src="src/libs/angularjs-1.5.3-angular.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-animate.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-aria.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-messages.min.js"></script>
        <script src="src/libs/angular-sanitize-1.4.12.js"></script>
        <script src="src/libs/angularmaterial-1.1.0-rc2-angular-material.min.js"></script>

        <!-- Code Highlighting -->
        <script src="src/libs/prism.min.js"></script>

        <!-- Javascript -->
        <script src="src/apps/Apps.js"></script>
        <script src="src/apps/AppController.js"></script>
        <script src="src/apps/AppService.js"></script>
        <script src="src/analytics.js"></script>
        <script src="src/main.js"></script>
    </body>
</html>
