<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AQUA Apps</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="AQUA Apps">
        <meta name="author" content="AQUA Apps">
        <meta name="robots" content="index">
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Social -->
        <meta property="og:image" content="http://aquaapps.co/res/social/preview-facebook.png" />

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic' rel='stylesheet' type='text/css'>

        <!-- Themes -->
        <link rel="stylesheet" href="styles/styles.css">

        <!-- Angular Material -->
        <link rel="stylesheet" href="src/libs/angular-material.min.css">

        <!-- MailChimp -->
        <link rel="stylesheet" href="src/libs/mailchimp-horizontal-slim-10_7.css">
    </head>

    <body class="nodrag" ng-app="AQUA Apps" ng-cloak>
        <!-- ******************** Navigation ******************** -->
        <md-toolbar id="toolbar" class="toolbar" layout="row" style="position:fixed;">
            <div class="md-toolbar-tools">
                <a class="nodrag" href="http://aquaapps.co"><md-icon class="toolbar-logo" md-svg-icon="images/vector/ic-aquaapps.svg"></md-icon></a>
                <h2><a class="toolbar-name nodrag" href="http://aquaapps.co">AQUA Apps</a></h2>
            </div>
        </md-toolbar>

        <div class="promo-section" layout="column" layout-align="center center">
            <div>
                <img class="promo-logo nodrag" src="images/logo-aquaapps.png" />
            </div>
            <div class="dev-btns" layout="row" layout-xs="column" layout-sm="column">
                <md-button onclick="devClick('Google Play')" class="md-raised dev-btn nodrag" id="btn-google" href="https://play.google.com/store/apps/dev?id=7898762683025002793" target="_blank"><b>Find us on Google Play™</b></md-button>
                <md-button onclick="devClick('Amazon')" class="md-raised dev-btn nodrag" id="btn-amazon" md-theme="social" href="http://www.amazon.com/s/ref=bl_sr_mobile-apps?field-brandtextbin=AQUA%20Apps&node=2350149011" target="_blank"><b>Find us on Amazon</b></md-button>
            </div>
        </div>

        <md-list class="no-margin no-padding" ng-controller="AppController as ac" ng-cloak>
            <md-list-item ng-repeat="a in ac.apps" ng-style="{ 'background-color':a.colorDark }">
                <div class="app-info full-width" layout="column" layout-align="center center">
                    <h1 class="app-name" ng-bind-html="a.name"></h1>
                    <md-icon class="app-icon" md-svg-icon="images/vector/{{ a.icon }}.svg"></md-icon>
                    <div>
                        <div class="app-desc" ng-bind-html="a.fullDescription"></div>
                        <span class="app-legal" ng-bind-html="a.legal"></span>
                    </div>
                    <div class="dev-btns" layout="row" layout-xs="column" layout-sm="column" layout-align="center center">
                        <a onclick="appClick('Google Play')" class="nodrag" href="{{ a.google }}&referrer=aquaapps" ng-hide="a.google == ''" target="_blank"><img class="nodrag google-badge" alt="Get it on Google Play" src="images/badge-google.png" /></a>
                        <a onclick="appClick('Amazon')" class="nodrag" href="{{ a.amazon }}" ng-hide="a.amazon == ''" target="_blank"><img class="nodrag amazon-badge" alt="Available at Amazon" src="images/badge-amazon.png" /></a>
                    </div>
                </div>
            </md-list-item>
        </md-list>

        <div class="no-margin blue-background section-social">
            <h1 class="no-margin no-padding" layout="row" layout-align="center center">Social</h1>
            <div id="mc_embed_signup">
                <form action="http://aquaapps.us13.list-manage.com/subscribe/post?u=521d4566d9dea01a2c6b94c56&amp;id=7fef147e28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Hear about new apps first</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_521d4566d9dea01a2c6b94c56_7fef147e28" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <div class="social-icons" layout="row" layout-align="center center">
                <md-button onclick="socialClick('Twitter')" class="md-fab md-accent nodrag" target="_blank" href="https://twitter.com/AQUAapps" aria-label="Twitter">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-twitter.svg"></md-icon>
                    <md-tooltip md-theme="social">Follow us on Twitter</md-tooltip>
                </md-button>
                <md-button onclick="socialClick('Facebook')" class="md-fab md-accent nodrag" target="_blank" href="https://www.facebook.com/AQUAapps" aria-label="Facebook">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-facebook.svg"></md-icon>
                    <md-tooltip md-theme="social">Like us on Facebook</md-tooltip>
                </md-button>
                <md-button onclick="socialClick('Google+')" class="md-fab md-accent nodrag" target="_blank" href="http://google.com/+AQUAapps" aria-label="Google Plus">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-google-plus.svg"></md-icon>
                    <md-tooltip md-theme="social">Follow us on Google+</md-tooltip>
                </md-button>
                <md-button onclick="socialClick('Email')" class="md-fab md-accent nodrag" target="_blank" href="mailto:support@aquaapps.co" aria-label="Email">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-email.svg"></md-icon>
                    <md-tooltip md-theme="social">Send us an email</md-tooltip>
                </md-button>

                <!-- <md-button onclick="socialClick('YouTube')" class="md-fab md-accent nodrag" target="_blank" href="https://www.youtube.com/c/AQUAapps" aria-label="YouTube">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-youtube.svg"></md-icon>
                    <md-tooltip md-theme="social">Subscribe on YouTube</md-tooltip>
                </md-button>
                <md-button onclick="socialClick('GitHub')" class="md-fab md-accent nodrag" target="_blank" href="" aria-label="Github">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-github.svg"></md-icon>
                    <md-tooltip md-theme="social">Follow us on GitHub</md-tooltip>
                </md-button>
                <md-button onclick="socialClick('LinkedIn')" class="md-fab md-accent nodrag" target="_blank" href="" aria-label="LinkedIn">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-linkedin.svg"></md-icon>
                    <md-tooltip md-theme="social">Add us on LinkedIn</md-tooltip>
                </md-button>
                <md-button onclick="socialClick('Instagram')" class="md-fab md-accent nodrag" target="_blank" href="" aria-label="Instagram">
                    <md-icon class="btn-social" md-svg-src="res/social/ic-instagram.svg"></md-icon>
                    <md-tooltip md-theme="social">Follow us on Instagram</md-tooltip>
                </md-button> -->
            </div>
        </div>

        <!-- ******************** Footer ******************** -->
        <footer class="footer" ng-controller="SiteCtrl">
            <div style="text-align: center;">
                <div class="copyright" layout="row" layout-align="center center">Copyright &copy; 2012-2016, AQUA Apps. All rights reserved.</div>
                <div class="copyright legal-trademarks" layout="row" layout-align="center center">Android, Google Play, and the Google Play logo are trademarks of Google Inc.</div>
                <small class="copyright" layout="row" layout-align="center center">
                    <md-button id="btnPrivacy" ng-click="showLegal(true)">Privacy Policy</md-button>
                    <md-button id="btnTerms" ng-click="showLegal(false)">Terms of Service</md-button>
                </small>
            </div>
        </footer>

        <!-- Angular Material -->
        <script src="src/libs/angularjs-1.5.3-angular.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-animate.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-aria.min.js"></script>
        <script src="src/libs/angularjs-1.5.3-angular-messages.min.js"></script>
        <script src="src/libs/angular-sanitize-1.4.12.js"></script>
        <script src="src/libs/angularmaterial-1.1.0-rc2-angular-material.min.js"></script>

        <!-- Javascript -->
        <script src="src/apps/Apps.js"></script>
        <script src="src/apps/AppController.js"></script>
        <script src="src/apps/AppService.js"></script>
        <script src="src/analytics.js"></script>
        <script src="src/main.js"></script>
    </body>
</html>
